html,
body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f432b3;
}

.content{
    border-top-left-radius: 20%;
    border-top: 2px solid white;
    border-top-right-radius: 20%;
}

.mobile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-icons-mob {
    font-size: 3.8rem;
    color: #fff;
    display: table;
    margin: auto;
}