.desk-container {
    display: flex;
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/images/back-update.jpg");
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10rem;

}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-box-left {}

.inner-box-right {
    width: 70%;
}

/* phone */

.phone-graphic {
    position: relative;
    width: 330px;
    margin-left: 2rem;
}

.phone-case {
    box-shadow: inset 3px 3px 8px #82dcff, inset 0 0 3px #082049, inset -3px -3px 8px 0px #002094, 10px 10px 15px #b8b8b8;
    border-radius: 50px;
    background: #138ac9;
    width: 20rem;
    padding: 10px;
    height: 32rem;
}

.phone-case:before {
    content: '';
    position: absolute;
    background: #138ac9;
    width: 5px;
    height: 30px;
    left: -5px;
    top: 140px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 4px 0px 2px #45b1ea;
}

.phone-case:after {
    content: '';
    position: absolute;
    background: #138ac9;
    width: 5px;
    height: 70px;
    left: 320px;
    top: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 1px 0 4px #052152, inset -2px 3px 5px #2c9fdc, 10px 10px 15px #b8b8b8;
}

.phone-container-outer {
    position: relative;
    font-size: .8rem;
    border: 1px solid #8f8f8f;
    border-radius: 40px;
    box-shadow: inset 1px 1px 10px #ddd, inset 1px 1px 3px #8f8f8f, 0 0 6px #1059a5;
    background-color: #000;
    height: 30.5rem;
}

.phone-container-inner {
    position: relative;
    /* background: #EA4C89; */
    background-image: linear-gradient(to right, #fd287c, #ff7654);
    margin: 13px;
    border-radius: 30px;
    overflow: auto;
    height: 28.5rem;
    overflow: hidden;
}

.text-para {
    text-align: center;
}

.phone-container-outer:after {}

.hide {
    display: none;
}

.blinking {
    -webkit-animation: 2s blink ease infinite;
    -moz-animation: 2s blink ease infinite;
    -ms-animation: 2s blink ease infinite;
    -o-animation: 2s blink ease infinite;
    animation: 2s blink ease infinite;
}

@-webkit-keyframes blink {
    67% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    67% {
        opacity: 0
    }
}

@-o-keyframes blink {
    67% {
        opacity: 0
    }
}

@keyframes blink {
    67% {
        opacity: 0
    }
}

/* .phone-container-inner:before {
    content: '';
    position: absolute;
    top: 0;
    background-color: #000;
    width: 110px;
    height: 17px;
    left: calc(50% - 55px);
    border-radius: 0 0 20px 20px;
    z-index: 2;
} */

.phone-header {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #f4f4f4;
}

.phone-header-mob {
    position: absolute;
    width: 100%;
    height: 125px;
    top: 0;
    background-color: #f4f4f4;
}

.font-small-italic {
    font-size: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

.font-small {
    font-size: 10px;
    margin-bottom: 5px;
}

.font-small-italic-mob {
    font-size: 10px;
    margin-bottom: 5px;
    font-style: italic;
}

.font-small-mob {
    font-size: 10px;
    margin-bottom: 5px;
}

.outer-domain {
    border-top-left-radius: 20%;
    border-top: 2px solid white;
    border-top-right-radius: 20%;
}

/* HEADER ICONS AND TIME */
.phone-header-time {
    position: absolute;
    font-size: .8rem;
    top: 5px;
    left: 15px;
}

.phone-header-icons {
    position: absolute;
    top: 5px;
    right: 15px;
}

.phone-header-icons .material-icons {
    font-size: .9rem;
}

.phone-header-icons .material-icons.battery {
    transform: rotate(90deg);
}

/* CONTACT IMAGE AND NUMBER */
.contact-image {
    width: 35px;
    height: 35px;
    background-color: #b4b4ba;
    box-shadow: 0 0 0 3px #b4b4ba;
    border-radius: 100%;
    overflow: hidden;
}

.contact-image-logo {
    overflow: hidden;
    font-size: 2.5rem;
    color: #1059a5
}

.contact-image-logo-mob {
    overflow: hidden;
    font-size: 3.5rem;
    color: #1059a5;
    margin: .5rem;
}

.contact-image .my-icons {
    font-size: 2.5rem;
    color: #fff;
    display: table;
    margin: auto;
}

.contact-phone {
    position: absolute;
    font-size: 1rem;
    top: 20px;
    margin: auto;
    left: 65px;
}

.contact-phone a {
    color: #000;
}

/* PHONE MESSAGES */
.phone-messages {
    margin-top: 40px;
    padding: 20px;
    height: 350px;
}

.message {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.domain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message p {
    position: relative;
    z-index: 5;
    margin: 0;
}

.message-contact {
    position: relative;
    background-color: #f1f1f1;
    text-align: left;
    margin-right: 20%;
}

.message-you {
    position: relative;
    background-color: #3bbe41;
    color: #fff;
    text-align: right;
    margin-left: 20%;
}

.message-contact:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 20px;
    width: 20px;
    background: #f1f1f1;
    border-bottom-right-radius: 15px;
}

.message-contact:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -15px;
    width: 15px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 20px;
}

.message-you:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -10px;
    height: 20px;
    width: 20px;
    background: #3bbe41;
    border-bottom-left-radius: 15px;
}

.message-you:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -15px;
    width: 15px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 20px;
}

/* PHONE FOOTER */
.phone-footer {
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
}

.phone-footer-icons {
    position: absolute;
    bottom: 10px;
    left: 80%;
    color: #7b838d;
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

.phone-footer-icons:hover {
    transform: translateY(-5px);
}

.phone-footer-input {
    position: absolute;
    bottom: 7px;
    height: 30px;
    border: none;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: #efefef;
}

.phone-footer-input::placeholder {
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.phone-footer-input p {
    margin: 0;
    color: #cfcfd2;
}

/* MESSAGE ANIMATION */
.message.message-you {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.message.message-you:nth-child(3) {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.message.message-you:nth-child(5) {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
}

.message.message-contact {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

.message.message-contact:nth-child(4) {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

.message.message-contact:nth-child(6) {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
}

/* SLIDE IN RIGHT ANIMATION */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* SLIDE IN LEFT ANIMATION */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* phone */


/* round btn */

.round-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-btn-round {
    width: 200px;
    height: 70px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 750;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.mobile-container {}

.button-btn-round-two {
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 550;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-btn-round:hover {
    background-image: linear-gradient(to right, #fd287c, #ff7654);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button-btn-round-two:hover {
    background-color: white;
    color: #000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

/* round btn */


.text-head {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 750;
}

.mobile {
    width: 100%;
}

.height-full {
    height: calc((100vh - 110px)) !important;
}

.remove-margin {
    margin: 0 !important;
    border-radius: 0 !important;
}

.contact-phone-mob {
    /* position: absolute; */
    font-size: 2rem;
    /* top: 60px; */
    /* margin: auto; */
    text-align: center;
    /* left: 65px; */
}

.font-xl {
    font-size: 1.5rem;
}



.my-icons-mob {
    font-size: 3.8rem;
    color: #fff;
    display: table;
    margin: auto;
}

.contact-image-mob {
    width: 55px;
    height: 55px;
    background-color: #b4b4ba;
    box-shadow: 0 0 0 3px #b4b4ba;
    border-radius: 100%;
    overflow: hidden;
}


.phone-footer-mob {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
}

.seventy-percent-width {
    width: calc(95%) !important;
    height: calc(80%) !important;

}

.phone-footer-input-mob {
    position: absolute;
    height: 70px;
    border: none;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: #efefef;
    width: 100%;
    font-size: 2rem;

}

.phone-footer-icons-mob {
    position: absolute;
    bottom: 10px;
    left: 85% !important;
    color: #7b838d;
    font-size: 2.5rem;
    transition: all 0.3s ease 0s;
}

.phone-footer-input-mob::placeholder {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}







/* media queries */

@media only screen and (max-width: 600px) {

    /* small phones */
    .desktop {
        display: none;
    }

    .phone-container-inner:before {
        content: none !important;
    }


}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .mobile {
        display: none;
    }
}


@media only screen and (min-width: 600px) {

    /* For tablets: */
    .mobile {
        display: none;
    }
}

/* media queries */




.logo {
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.logo-mob {
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.logo-text {
    font-size: 24px;
}

.logo-text-mob {
    font-size: 2rem;
}

.bell {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin: 5px auto 0;
    color: #40A2E3;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.bell-mob {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin: 5px auto 0;
    color: #40A2E3;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }

    1% {
        -webkit-transform: rotateZ(30deg);
    }

    3% {
        -webkit-transform: rotateZ(-28deg);
    }

    5% {
        -webkit-transform: rotateZ(34deg);
    }

    7% {
        -webkit-transform: rotateZ(-32deg);
    }

    9% {
        -webkit-transform: rotateZ(30deg);
    }

    11% {
        -webkit-transform: rotateZ(-28deg);
    }

    13% {
        -webkit-transform: rotateZ(26deg);
    }

    15% {
        -webkit-transform: rotateZ(-24deg);
    }

    17% {
        -webkit-transform: rotateZ(22deg);
    }

    19% {
        -webkit-transform: rotateZ(-20deg);
    }

    21% {
        -webkit-transform: rotateZ(18deg);
    }

    23% {
        -webkit-transform: rotateZ(-16deg);
    }

    25% {
        -webkit-transform: rotateZ(14deg);
    }

    27% {
        -webkit-transform: rotateZ(-12deg);
    }

    29% {
        -webkit-transform: rotateZ(10deg);
    }

    31% {
        -webkit-transform: rotateZ(-8deg);
    }

    33% {
        -webkit-transform: rotateZ(6deg);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
    }

    37% {
        -webkit-transform: rotateZ(2deg);
    }

    39% {
        -webkit-transform: rotateZ(-1deg);
    }

    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }

    1% {
        -moz-transform: rotate(30deg);
    }

    3% {
        -moz-transform: rotate(-28deg);
    }

    5% {
        -moz-transform: rotate(34deg);
    }

    7% {
        -moz-transform: rotate(-32deg);
    }

    9% {
        -moz-transform: rotate(30deg);
    }

    11% {
        -moz-transform: rotate(-28deg);
    }

    13% {
        -moz-transform: rotate(26deg);
    }

    15% {
        -moz-transform: rotate(-24deg);
    }

    17% {
        -moz-transform: rotate(22deg);
    }

    19% {
        -moz-transform: rotate(-20deg);
    }

    21% {
        -moz-transform: rotate(18deg);
    }

    23% {
        -moz-transform: rotate(-16deg);
    }

    25% {
        -moz-transform: rotate(14deg);
    }

    27% {
        -moz-transform: rotate(-12deg);
    }

    29% {
        -moz-transform: rotate(10deg);
    }

    31% {
        -moz-transform: rotate(-8deg);
    }

    33% {
        -moz-transform: rotate(6deg);
    }

    35% {
        -moz-transform: rotate(-4deg);
    }

    37% {
        -moz-transform: rotate(2deg);
    }

    39% {
        -moz-transform: rotate(-1deg);
    }

    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}



.btn-button {
    padding: 1em 3.8em;
    background: #40A2E3;
    border: none;
    border-radius: .5rem;
    color: white;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
        -6px -6px 10px rgba(255, 255, 255, .5),
        6px 6px 8px rgba(255, 255, 255, .075),
        6px 6px 10px rgba(0, 0, 0, .15);
}

.btn-button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.btn-button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.font-\[\'Inter\'\] {
    font-family: inherit !important;
}

.font-awesome-gradient {
    background: linear-gradient(to right, #fd287c, #ff7654);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bell-notfication {
    margin: 1rem;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    .desk-container {
        padding: 0 !important;
    }
}

@media screen and (min-width: 1300px) {
    #user-name-desktop {
        font-size: 1.5rem !important;
    }

    #user-id-desktop {
        font-size: 16px !important;
    }

    #joined {
        font-size: 1rem !important;
    }

    .friends {
        font-size: 1.05rem !important;
    }

    .photos {
        font-size: 1.05rem !important;
    }

    .videos {
        font-size: 1.05rem !important;
    }

    .btn-btn-round-desktop {
        font-size: 14px !important;
        width: 8rem !important;
        height: 2.5rem !important;
    }

    .notification-text {
        font-size: 14px !important;
    }

    .msg-bubble-desk {
        font-size: 15px !important;
    }

    .msg-img-desk {
        width: 30px !important;
        height: 30px !important;
    }

    #invited {
        font-size: 1.2rem !important;
        margin-top: 0;
    }

    .phone-case {
        height: 38rem;
        width: 25rem;
    }

    .phone-case::after {
        left: 400px !important;
    }

    .msg-info-time-desk {
        font-size: 1em !important;
    }

    .phone-container-outer {
        height: 36.5rem;
    }

    .phone-container-inner {
        height: 34.5rem;
    }

    .chat-area-desktop {
        height: 43% !important;
    }

    .right-side h1 {
        font-size: 3rem;
    }

    .right-side p {
        font-size: 2rem;
    }

    .desk-container {
        padding: 0 12rem;
    }

    .chat-footer {
        height: 5% !important;
    }

    .chat-box {
        font-size: 1.2rem !important;
        height: 2.5rem !important;
        width: 21rem !important;
    }

    .chat-icons {
        left: 85% !important;
        bottom: 20% !important;
        font-size: 1.8rem !important;

    }

    #banter {
        margin-left: 18% !important;
        font-size: 25px !important;
    }
}



.chat-area-desktop::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.chat-area-desktop::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.chat-area-desktop::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to right, #efa9c5, #fd6b46);
}