html,
body {
    height: 100%;
    margin: 0;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #EA4C89;
    overflow-x: hidden !important;
}

.content {
    border-top-left-radius: 50px 50px;
    border-top: 2px solid white;
    border-top-right-radius: 50px 50px;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 0px 0px 10px 1px rgb(197, 195, 195);
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 100px;
}

.content-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-icons-mob {
    font-size: 2rem;
    color: #fff;
    display: table;
    margin: auto;
}

.my-icons-desktop {
    font-size: 1.5rem;
    color: #fff;
    display: table;
    margin: auto;
}


.contact-image-logo-mob {
    overflow: hidden;
    font-size: 3.5rem;
    color: #1059a5
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.font-size-2 {
    font-size: 1.5rem;
}

.font-bold {
    font-weight: 550;
}

.font-italic {
    font-style: italic;
}

.font-white {
    color: #fff;
}

.text-shadow {
    /* multiple text shadows for you to check */
    /* text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc; */
    /* text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
        -3px 0px 7px rgba(81, 67, 21, 0.8),
        0px 4px 7px rgba(81, 67, 21, 0.8); */

    text-shadow: 0px 5px 10px rgba(81, 67, 21, 0.8);

}

.logo-shadow {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .15);
    /* not working need to figure something out */
}

.br-2 {
    border-radius: 0.5rem;
}

.logo-box {
    width: 50px;
    display: block;
    height: 50px;
    text-align: center;
    line-height: 70px;
}

.notification {
    display: flex;
    margin: auto 40px;
    flex-direction: row;
    align-items: center;
}

.notification-text {
    text-align: center;
    color: #7b838d;
}

.bell {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin: 5px auto 0;
    margin-right: 5px !important;
    color: #EA4C89;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.bell-mob {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin: 5px auto 0;
    color: #40A2E3;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.details {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: .5px solid #7b838d;
    height: 200px;
}

.user-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 2.3rem;
}

.font-small {
    font-size: 12px;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;

}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.profile-box {
    border: 5px solid white;
    border-radius: 100%;
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.flag-box {
    border: 2px solid white;
    border-radius: 100%;
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.br-4 {
    border-radius: 1rem;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0);
    }

    1% {
        -webkit-transform: rotateZ(30deg);
    }

    3% {
        -webkit-transform: rotateZ(-28deg);
    }

    5% {
        -webkit-transform: rotateZ(34deg);
    }

    7% {
        -webkit-transform: rotateZ(-32deg);
    }

    9% {
        -webkit-transform: rotateZ(30deg);
    }

    11% {
        -webkit-transform: rotateZ(-28deg);
    }

    13% {
        -webkit-transform: rotateZ(26deg);
    }

    15% {
        -webkit-transform: rotateZ(-24deg);
    }

    17% {
        -webkit-transform: rotateZ(22deg);
    }

    19% {
        -webkit-transform: rotateZ(-20deg);
    }

    21% {
        -webkit-transform: rotateZ(18deg);
    }

    23% {
        -webkit-transform: rotateZ(-16deg);
    }

    25% {
        -webkit-transform: rotateZ(14deg);
    }

    27% {
        -webkit-transform: rotateZ(-12deg);
    }

    29% {
        -webkit-transform: rotateZ(10deg);
    }

    31% {
        -webkit-transform: rotateZ(-8deg);
    }

    33% {
        -webkit-transform: rotateZ(6deg);
    }

    35% {
        -webkit-transform: rotateZ(-4deg);
    }

    37% {
        -webkit-transform: rotateZ(2deg);
    }

    39% {
        -webkit-transform: rotateZ(-1deg);
    }

    41% {
        -webkit-transform: rotateZ(1deg);
    }

    43% {
        -webkit-transform: rotateZ(0);
    }

    100% {
        -webkit-transform: rotateZ(0);
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0);
    }

    1% {
        -moz-transform: rotate(30deg);
    }

    3% {
        -moz-transform: rotate(-28deg);
    }

    5% {
        -moz-transform: rotate(34deg);
    }

    7% {
        -moz-transform: rotate(-32deg);
    }

    9% {
        -moz-transform: rotate(30deg);
    }

    11% {
        -moz-transform: rotate(-28deg);
    }

    13% {
        -moz-transform: rotate(26deg);
    }

    15% {
        -moz-transform: rotate(-24deg);
    }

    17% {
        -moz-transform: rotate(22deg);
    }

    19% {
        -moz-transform: rotate(-20deg);
    }

    21% {
        -moz-transform: rotate(18deg);
    }

    23% {
        -moz-transform: rotate(-16deg);
    }

    25% {
        -moz-transform: rotate(14deg);
    }

    27% {
        -moz-transform: rotate(-12deg);
    }

    29% {
        -moz-transform: rotate(10deg);
    }

    31% {
        -moz-transform: rotate(-8deg);
    }

    33% {
        -moz-transform: rotate(6deg);
    }

    35% {
        -moz-transform: rotate(-4deg);
    }

    37% {
        -moz-transform: rotate(2deg);
    }

    39% {
        -moz-transform: rotate(-1deg);
    }

    41% {
        -moz-transform: rotate(1deg);
    }

    43% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(0);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}


.chat-footer {
    position: sticky;
    height: calc(100% - 90%);
    bottom: 15px;
    left: 15px;
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
}

.chat-box {
    position: absolute;
    height: 70px;
    border: none;
    padding: 3px 10px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.16) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    box-shadow: rgba(17, 17, 26, .5) 0px 0px 10px 1px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
    box-shadow: rgba(17, 17, 26, 0.65) 1px 1px 10px -4px inset;
    width: 100%;
    font-size: 1.2rem;
}

.chat-icons {
    position: absolute;
    left: 92% !important;
    color: #7b838d;
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;
}

.chat-area {
    height: calc(100vh - 60vh);
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .mobile {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .mobile {
        display: none;
    }
}


.content-desktop {
    border-top-left-radius: 30px 30px;
    border-top: 2px solid white;
    border-top-right-radius: 30px 30px;
    background-color: #ffffff;
    height: 375px;
    box-shadow: 0px 0px 10px 1px rgb(197, 195, 195);
    width: 100%;
}

.header-desktop {
    display: flex;
    width: 100%;
    height: 60px;
}


.logo-box-desktop {
    width: 26px;
    display: block;
    height: 26px;
    text-align: center;
    line-height: 35px;
}

.font-size-1 {
    font-size: 1rem;
}

.logo-container-desktop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profile-box-desktop {
    border: 5px solid white;
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.user-info-desktop {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1rem;
}

.btn-btn-round {
    width: 120px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 750;
    color: #fff;
    background-color: #EA4C89;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-btn-round-desktop {
    width: 120px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 750;
    color: #fff;
    background-color: #EA4C89;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.bell-desktop {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 5px auto 0;
    color: #EA4C89;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}